{% extends "base.html" %}
{% block beranda %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1></h1>
                <!-- PAID MEMBER FEATURE -->
                <section id="feature" class="py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <h1>Layanan Kami</h1>
                                <hr class="w-25 mx-auto">
                            </div>
                        </div>
                        <div class="row mt-4">
                
                            <div class="col-md-6 col-lg-4 d-flex">
                                <div class="me-3">
                                    <i class="bi-shield-shaded fs-2"></i>
                                </div>
                                <div class="mt-1">
                                    <a href="#" style="text-decoration:none">
                                    <h4>Pendirian Perusahaan</h4>
                                    </a>
                                    <p class="text-muted">
                                        Pendirian PT
                                        <br>
                                        Pendirian CV 
                                        </p>
                                </div>
                            </div>
                
                            <div class="col-md-6 col-lg-4 d-flex">
                                <div class="me-3">
                                    <i class="bi-person-plus-fill fs-2"></i>
                                </div>
                                <div class="mt-1">
                                    <a href="#" style="text-decoration: none;">
                                    <h4>Penutupan Perusahaan</h4>
                                    </a>
                                    <p class="text-muted">
                                        Penutupan PT
                                        <br>
                                        Penutupan CV 
                                        </p>
                                </div>
                            </div>
                
                            <div class="col-md-6 col-lg-4 d-flex">
                                <div class="me-3">
                                    <i class="bi-credit-card fs-2"></i>
                                </div>
                                <div class="mt-1">
                                    <a href="#" style="text-decoration:none">
                                    <h4>Virtual Office</h4>
                                    </a>
                                    <p class="text-muted">
                                        Virtual Office Lite
                                        <br>
                                        Virtual Office Premium
                                        </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 d-flex">
                                <div class="me-3">
                                    <i class="bi-link-45deg fs-2"></i>
                                </div>
                                <div class="mt-1">
                                    <a href="#" style="text-decoration:none">
                                    <h4>Perizinan Khusus</h4>
                                    </a>
                                    <p class="text-muted">
                                        Perizinan Perusahaan
                                        <br>
                                        Perizinan Khusus/Sektoral
                                        </p>
                                </div>
                            </div>
                
                            <div class="col-md-6 col-lg-4 d-flex">
                                <div class="me-3">
                                    <i class="bi-plus-square fs-2"></i>
                                </div>
                                <div class="mt-1">
                                    <a href="#" style="text-decoration:none">
                                    <h4>Digital Marketing</h4>
                                    </a>
                                    <p class="text-muted">
                                        Pembuatan Website
                                        <br>
                                        Pemasangan CCTV
                                        </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 d-flex">
                                <div class="me-3">
                                    <i class="bi-plus-square fs-2"></i>
                                </div>
                                <div class="mt-1">
                                    <a href="#" style="text-decoration:none">
                                    <h4>Perizinan Usaha</h4>
                                    </a>
                                    <p class="text-muted">
                                        OSS
                                        <br>
                                        NIB
                                        </p>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock beranda %}