{% load static %}
<!-- FOOTER -->

<footer id="main-footer" class="text-white text-center bg-dark py-5" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="text-md-start col-md-4 me-auto">
                <h5>Jasaizin.id</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aperiam cumque, esse modi maxime veniam nulla delectus dolorem
                </p>
                <small>&copy; Jasaizin 2021</small>
            </div>
            <div class="text-md-start col-md-4 mt-4 mt-md-0">
                <h5>Hubungi Kami</h5>
                <div><i class="bi-envelope fs-5 me-3"></i>jasaizin@gmail.com</div>
                <div><i class="bi-phone fs-5 me-3"></i>(021) 123456</div>
                <div><i class="bi-globe fs-5 me-3"></i>www.jasaizin.com</div>
                <div class="pt-3">
                    <a href="#" class="text-white text-decoration-none me-2">
                        <i class="bi-facebook fs-5"></i>
                    </a>
                    <a href="#" class="text-white text-decoration-none me-2">
                        <i class="bi-twitter fs-5"></i>
                    </a>
                    <a href="#" class="text-white text-decoration-none me-2">
                        <i class="bi-instagram fs-5"></i>
                    </a>
                    <a href="#" class="text-white text-decoration-none me-2">
                        <i class="bi-whatsapp fs-5"></i>
                    </a>
                    <a href="#" class="text-white text-decoration-none me-2">
                        <i class="bi-github fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>